<div class="row row match-height">
    <div class="col-md-4">
		<div class="card" >
		<div class="card-body">
			<div class="card-img bg-black">
            <img style="opacity: 0.5" class="img-fluid" [src]="img.png" alt="img.png">
			<h4 class="card-title text-lowercase"> Title</h4>
			
			
            <span class="btn btn-floating halfway-fab btn-medium bg-success"><i class="ft-check"></i></span>
			</div>
			<div class="card-block text-dark">
            <p class="card-text-muted"> Category</p>
			<p class="card-text text-muted"> Description</p>
			<p class="card-text text-dark">  Price </p>
			</div>
		</div>
			<div class="card-footer border-top-blue-grey border-top-lighten-5 text-muted">
			<div class="row">
				<div class="col-md-12 float-center avatar avatar-md avatar-busy">
					<a routerLink="/dashboard/my-profile"><img alt="alt" title="Name" class="media-object d-flex mr-3 shadow-sm height-50 width-50 rounded-circle" src="img.png"><i></i>
					</a>
					
				</div>
				<div class="col-md-8 float-right align-middle">
						<a routerLink="/dashboard/my-profile" class="card-text"> Name</a><br/>
						<a routerLink="/dashboard/my-profile" class="card-text text-muted"> ratting </a>
						
			</div>
				<span class="float-left badge bg-info white"> USD </span>
				<span class="float-right"></span>
		</div>
				</div>
	</div>
	</div>
	
	</div>
